.wrapper {width:auto;margin: 0 auto;}
.gallery-list {display: flex; list-style: none;}
.gallery-list li{padding: 8px; margin: 16px;}
.gallery-list li > div {padding: 8px 8px 32px;background-color:red}